<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devide-width-scale-1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Whiplash</title>
</head>
<body>
    <!--Este es mi comentario-->
    <section class="Welcome">
        <h1>WHIPLASH</h1>
        <p> Musica y obsesion</p>
        <img src="https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/peliculas/whiplash/j.k.-simmons-el-profesor-de-hierro/31416654-2-esl-ES/J.K.-Simmons-el-profesor-de-hierro.jpg?resize=1200:*">
    </section> 
    <section class="Medio">
    <ul>
        <li>cineMUSICAobsesionARTEperfeccion</li>
    </ul>
    </section>
    <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/45UQSmiMGaI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <section class="About">
        <p>Info sobre esto:</p>
    <section>
    <footer><p>MacoWins contact: mac@gmail.com</p>
    </footer>
    </section>

    </section>
</body>
</html>
